/* Boostrap Breakpoints */
// xs= 0-767 pixels
// sm = 768-991 pixels
// md = 992-1199 pixels
// lg = 1200 pixels and up

/* variables */
$teal-dark: rgb(35, 115, 120);
$teal-light:  rgb(34, 153, 165);
$grey: rgb(170, 170, 170);
$grey-light: rgb(221, 221, 221);


html{
  body {
    font-family: 'Open Sans', sans-serif;
    header {
      .logo{
        width: 100%;
        margin-top: 1rem;
        padding-left: 0;
        max-height: 3rem;
      }
      .mobile-contact-account-container{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        height: 100%;
        .mobile-nav{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 2rem 0 2rem;
        }
        .nav-end {
          margin-right: 0;
          .center-end {
            display: flex;
            align-self: center;
          }
        }
      }
      .subnav-search {
        background-color: $grey-light;
        padding: 1rem;
      }
    }
    main{
      .jumbotron{
        padding: 0;
        .btn-block {
          background-color: $teal-dark;
          color: white;
          letter-spacing: .25rem;
          border-radius: 0;
        }
      }
      .select-drop {
        width: 100%;
      }
    }
    footer {
      background-color: $teal-light;
    }
  }
}
